@import url(https://fonts.googleapis.com/css?family=Sacramento|Poiret+One|PT+Sans+Narrow);

/*font-family: 'Sacramento', cursive;*/

/*font-family: 'Poiret One', cursive;*/

/*font-family: 'PT Sans Narrow', sans-serif;*/


/* CLEARFIX */
.group:after{
  clear: both;
  content: " ";
  display: block;
}

/* RESET */
html, body, section, form, ul,
li, article, header,
h1, h2, h3, h4, p, select, option,
input, button, label, div, textarea, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  vertical-align: inherit;
  color: inherit;

  background: transparent;
}

body {
  background: #691B1B;
  color: #775837;
  font-family: 'PT Sans Narrow', sans-serif;
}

ul {
  list-style: none;
}

a { color: #EF6828; }

.root-tab > a:hover { color: #FBF3DD; }

/* LANDING PAGE */

.current {
  border-bottom: 1px solid gold;
}

.content {
  background: #FBF3DD;
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

.content > h1 {
  padding: 10px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 36px;
}

.column {
  display: block;
  box-sizing: border-box;
  width: 50%;
  padding: 0 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.names {
  font-family: 'Sacramento', cursive;
  font-size: 1.4em;
}

.type-info {
  font-weight: bold;
  margin: 25px 5px 15px 5px;
  font-size: 24px;
  text-align: center;
  display: block;
}

.info {
  font-weight: normal;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  display: block;
}


.tabs {
  width: 80%;
  margin: auto;
  padding: 5px 0;
  text-align: center;
}


.root-tab {
  display: block;
  width: auto;
  box-sizing: border-box;
  text-align: center;
  font-weight: lighter;
  width: 20%;
  float: left;
}

.root-tab:hover {
  cursor: pointer;
}

.intro {
  margin: 20px 40px;
  font-size: large;
}

/*ACCOMMODATIONS*/
.house-header {
  padding: 10px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 24px;
}

.house-option {
  margin: 10px 40px;
  width: 75%;
}

.house-option > h3 {
  display: block;
  font-weight: bold;
  color: #EF6828;
}

.house-option > p {
  width: 100%;
}

.house-option:hover  {
  font-weight: bolder;
}


/*REGISTRY*/
.registry {
  width: 75%;
  margin: auto;
}

.registry-item {
  background: lightblue;
  font-size: larger;
  letter-spacing: 1.5px;
  display: inline-block;
  padding: 10px;
  margin: 2px;
  border: 1px solid darkblue;
  color: darkblue;
  cursor: pointer;
}


.silly-photo {
  display: block;
  border: 1px solid lightyellow;
  border-radius: 20px;
  height: auto;
  width: 100%;
}

.registry {
  text-align: center;
  color: #775837;
  padding: 0 20px;
}

.luna-photo {
  margin: 10px auto auto;
  border-radius: 20px;
  display: block;
  height: auto;
  width: 70%;
}

/* WEDDING PARTY */

.party-member {
  margin: 15px 0;
  color: #691B1B;
}

.party h2 {
  color: #EF6828;
  text-align: center;
  font-size: x-large;
}

.party h3 {
  font-size: larger;
  float: right;
  margin-left: 5px;
  width: calc(100% - 105px);
}

.party-member img {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  float: left;
  box-sizing: border-box;
}

.party-member p {
  margin-left: 5px;
  float: right;
  display: none;
  width: calc(100% - 105px);
}

.groomsmen img {
  float: right;
}

.groomsmen p {
  float: left;
  text-align: right;
}

.groomsmen h3 {
  text-align: right;
  float: left;
}

.party-member:hover > img {
  border: 2px solid gold;
}

.party-member:hover > p {
  display: block;
}

.party-shared {
  margin: 25px auto;
  width: 25%;
}

/* RSVP */
.rsvp-form {
  font-size: larger;
  width: 40%;
  margin: auto;
}

.rsvp-form > label {
  margin: 15px 0;
  display: block;
}

.field-title {
  float: left;
  width: 45%;
}

.response {
  background-color: white;
  float: left;
  width: 55%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
}

input[type="radio"] {
  margin-left: 20px;
}

textarea {
  font-size: smaller;
  background-color: white;
  float: left;
  width: 55%;
  height: 75px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
}

.rsvp-form > button {
  display: block;
  padding: 10px;
  cursor: pointer;
  margin: auto;
  background: #691B1B;
  color: gold;
  border: 1px solid #775837;
  border-radius: 5px;
  letter-spacing: 2px;
}

.rsvp-form > button:hover {
  background-color: #f7673e;
  color: darkblue;
}
