@import url(https://fonts.googleapis.com/css?family=Sacramento|Poiret+One|PT+Sans+Narrow);

/*font-family: 'Sacramento', cursive;*/

/*font-family: 'Poiret One', cursive;*/

/*font-family: 'PT Sans Narrow', sans-serif;*/

.group:after{
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

html, body, section, form, ul,
li, article, header,
h1, h2, h3, h4, p, select, option,
input, button, label, div, textarea, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  vertical-align: inherit;
  color: inherit;

  background: transparent;
}

body {
  background: #691B1B;
  color: #775837;
  font-family: 'PT Sans Narrow', sans-serif;
}

ul {
  list-style: none;
}

a { color: #EF6828; }

a:hover { color: #FBF3DD; }

.content {
  background: #FBF3DD;
  width: 900px;
  margin: auto;
  padding: 20px 0;
}

.content > h1 {
  padding: 10px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 36px;
}

.column {
  display: block;
  box-sizing: border-box;
  width: 50%;
  padding: 0 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.names {
  font-family: 'Sacramento', cursive;
  font-size: 1.4em;
}

.type-info {
  font-weight: bold;
  margin: 35px 5px 15px 5px;
  font-size: 24px;
  text-align: center;
  display: block;
}

.info {
  font-weight: normal;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  display: block;
}

.silly-photo {
  display: block;
  border: 1px solid lightyellow;
  border-radius: 20px;
  height: auto;
  width: 100%;
}

.registry {
  text-align: center;
  color: #775837;
  padding: 0 20px;
}
.luna-photo {
  margin: 10px auto auto;
  border-radius: 20px;
  display: block;
  height: auto;
  width: 70%;
}


.tabs {
  width: 600px;
  margin: auto;
  padding: 5px 0;
  text-align: center;
}


.root-tab {
  display: block;
  width: auto;
  box-sizing: border-box;
  text-align: center;
  font-weight: lighter;
  width: 200px;
  float: left;
}

.root-tab:hover {
  cursor: pointer;
}

.intro {
  margin: 20px 40px;
}

.house-option {
  margin: 10px 40px;
  width: 70%;
}

.house-option > a {
  display: block;
  font-weight: bold;
}
.house-option > a:hover {
  font-weight: bolder;
  color: #691B1B;
}
